<h1>Home#top</h1>
<%= link_to "ご利用サンプル", use_sample_top_path %>
<%= link_to "お問い合わせ", inquiry_index_path %>
<%= button_to "注文する", new_order_path, method: :get %>
<h2>最新記事</h2>
<%= render 'posts/index'%>
